@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(
    14,
    33,
    160
  ); /* Primary color for header, nav, and pages */

  --primary-light-color: rgb(14, 33, 160, 20);

  --secondary-color: rgb(
    157,
    68,
    192
  ); /* Hover color for interactive elements like links */

  --particle-header-color: hsl(240, 68%, 9%);

  --border-color: rgb(
    236,
    83,
    176
  ); /* Color for buttons and interactive elements */
  --header-height: 18.75rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Particles js */

#tsparticles {
  background-color: var(--particle-header-color);
  height: var(--header-height);
  width: 100%;
  z-index: 100;
}

/* Navbar adjustments */

.dropdown-item__bg_none {
  background-color: transparent !important;
}

.navbar-item__color:hover {
  color: var(--secondary-color) !important;
}

/* main */
.radial-gradient {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
}
