@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(
    14,
    33,
    160
  ); /* Primary color for header, nav, and pages */

  --primary-light-color: rgb(14, 33, 160, 20);

  --secondary-color: rgb(
    157,
    68,
    192
  ); /* Hover color for interactive elements like links */

  --particle-header-color: hsl(240, 68%, 9%);

  --border-color: rgb(
    236,
    83,
    176
  ); /* Color for buttons and interactive elements */

  --cream-border-color: hsl(39, 81%, 83%);
  --header-height: 18.75rem;

  /* Fonts */

  --responsive-planet-title-text-size: clamp(
    4.2rem,
    3.8923rem + 1.2308vw,
    5rem
  );

  --responsive-planet-section-title-size: clamp(
    2.2rem,
    1.9692rem + 0.9231vw,
    2.8rem
  );

  --responsive-planet-paragraph-size: clamp(1rem, 0.8462rem + 0.6154vw, 1.4rem);

  --responsive-planet-paragraph-width: clamp(45ch, 50%, 75ch);

  /* Spacing */
  --main-horizontal-spacing: 0 8rem;
}

/* Navbar adjustments */
@layer utilities {
  .navbar-item__color:hover {
    color: var(--secondary-color) !important;
  }
  .dropdown-item__bg_none {
    background-color: transparent !important;
  }
}
