@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(
    14,
    33,
    160
  ); /* Primary color for header, nav, and pages */

  --primary-light-color: rgb(14, 33, 160, 20);

  --secondary-color: rgb(
    157,
    68,
    192
  ); /* Hover color for interactive elements like links */

  --particle-header-color: hsl(240, 68%, 9%);

  --border-color: rgb(
    236,
    83,
    176
  ); /* Color for buttons and interactive elements */

  --cream-border-color: hsl(39, 81%, 83%);
  --header-height: 18.75rem;

  /* Fonts */

  --responsive-planet-title-text-size: clamp(
    4.2rem,
    3.8923rem + 1.2308vw,
    5rem
  );
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Particles js */

#tsparticles {
  background-color: var(--particle-header-color);
  height: var(--header-height);
  width: 100%;
  z-index: 100;
}

/* Navbar adjustments */

.dropdown-item__bg_none {
  background-color: transparent !important;
}

.navbar-item__color:hover {
  color: var(--secondary-color) !important;
}

/* main */
.radial-gradient {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
}

/* Planets */
.planet-content {
  background-image: linear-gradient(
    to right top,
    #03031e,
    #03041d,
    #03041b,
    #03051a,
    #030518,
    #030519,
    #04061b,
    #04061c,
    #050721,
    #060725,
    #06082a,
    #06082e
  );
  display: grid;

  grid-template-columns: 4fr 1fr;
}

.planets-facts-motion {
  animation: scale 10s infinite linear;
}

/* 
.planet-content p {
  color: var(--color-light);
  font-size: clamp(1rem, 0.8462rem + 0.6154vw, 1.4rem);
  width: clamp(45ch, 50%, 75ch);
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
} */
