@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(
      14,
      33,
      160
    ); /* Primary color for header, nav, and pages */

    --secondary-color: rgb(
      157,
      68,
      192
    ); /* Hover color for interactive elements like links */

    --border-color: rgb(
      236,
      83,
      176
    ); /* Color for buttons and interactive elements */
}



body {
  min-height: 100vh;
}
